<blockquote class="quote">
	<p class="quote__text">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore quae facere
		nihil commodi sed, maiores soluta similique cum laboriosam. Asperiores!
	</p>
	<footer>
		<div class="media">
			<div class="media__image">
				<svg class="icon icon--primary quote__line">
					<use xLink:href="images/sprite.svg#line"
				</svg>
			</div>
			<div class="media__body">
				<h3 class="media__title quote__author">Jack Sparrow</h3>
				<p class="quote__organization">Black Peal Corp.</p>
			</div>
		</div>
	</footer>
</blockquote>
