<section class="block">
	<header class="block__header">
		<h2>What our Customers are Saying</h2>
		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias dicta
			facilis debitis dignissimos dolorum. Minus corrupti velit consequatur quo
			ab!
		</p>
	</header>
	<div class="container">
		<div class="card testimonial">
			<div class="grid grid--cols-2">
				<div class="testimonial__image">
					<img src="images/testimonial.jpg" alt="A happy, smiling customer" />
					<span class="icon-container icon-container--accent">
						<svg class="icon icon--white icon--small">
							<use xLink:href="images/sprite.svg#quotes"
						</svg>
					</span>
				</div>
				<blockquote class="quote">
					<p class="quote__text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore
						quae facere nihil commodi sed, maiores soluta similique cum
						laboriosam. Asperiores!
					</p>
					<footer>
						<div class="media">
							<div class="media__image">
								<svg class="icon icon--primary quote__line">
									<use xLink:href="images/sprite.svg#line"
								</svg>
							</div>
							<div class="media__body">
								<h3 class="media__title quote__author">Jack Sparrow</h3>
								<p class="quote__organization">Black Peal Corp.</p>
							</div>
						</div>
					</footer>
				</blockquote>
			</div>
		</div>
	</div>
</section>
